@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --bg-color: #F9FAFB;
        --surface-color: #FFFFFF;
        --border-color: #E5E7EB;
        --text-primary: #111827;
        --text-secondary: #4B5563;
        --accent-primary: #6366f1;
        /* Indigo 500 */
    }

    .dark {
        --bg-color: #0E1117;
        --surface-color: #111827;
        --border-color: #1F2937;
        --text-primary: #E5E7EB;
        --text-secondary: #9CA3AF;
    }

    body {
        @apply bg-[var(--bg-color)] text-[var(--text-primary)] antialiased transition-colors duration-300;
        font-family: 'Inter', sans-serif;
    }
}

@layer components {
    .logo-text {
        @apply font-bold text-xl tracking-tight text-slate-900 dark:text-white flex items-center gap-2;
    }
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--border-color);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #6366f1;
}